@page "{Id}"

@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using SmartSoftware.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using SmartSoftware.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using SmartSoftware.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@using SmartSoftware.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using SmartSoftware.AspNetCore.Mvc.UI.Packages.TuiEditor
@using SmartSoftware.CmsKit.Blogs
@using SmartSoftware.CmsKit.Admin.Web.Pages
@using SmartSoftware.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.SmartSoftwarePageToolbar
@using SmartSoftware.CmsKit.Admin.Web.Menus
@using SmartSoftware.CmsKit.Admin.Web.Pages.CmsKit.BlogPosts
@using SmartSoftware.CmsKit.Admin.Web.Pages.CmsKit.Tags.Components.TagEditor
@using SmartSoftware.AspNetCore.Mvc.UI.Packages.Uppy
@using SmartSoftware.AspNetCore.Mvc.UI.Packages.Slugify
@using SmartSoftware.Data
@using SmartSoftware.Localization
@using SmartSoftware.ObjectExtending
@inject IStringLocalizerFactory StringLocalizerFactory

@inherits CmsKitAdminPageBase

@model UpdateModel

@{
    PageLayout.Content.Title = L["BlogPosts"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CMS"].Value);
    PageLayout.Content.MenuItemName = CmsKitAdminMenus.BlogPosts.BlogPostsMenu;
}

@section scripts {
    <ss-script-bundle>
        <ss-script type="typeof(TuiEditorScriptContributor)"/>
        <ss-script type="typeof(UppyScriptContributor)"/>
        <ss-script type="typeof(SlugifyScriptContributor)"/>
        <ss-script src="/client-proxies/cms-kit-common-proxy.js"/>
        <ss-script src="/client-proxies/cms-kit-admin-proxy.js"/>
        <ss-script src="/Pages/CmsKit/BlogPosts/update.js"/>
        <ss-script src="/Pages/CmsKit/Contents/addWidgetModal.js" />
    </ss-script-bundle>
}

@section styles {
    <ss-style-bundle>
        <ss-style type="typeof(TuiEditorStyleContributor)"/>
        <ss-style src="/Pages/CmsKit/BlogPosts/update.css"/>
    </ss-style-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(SmartSoftwarePageToolbarViewComponent), new { pageName = typeof(UpdateModel).FullName })
}

<ss-card>
    <ss-card-header title="@L["Edit"].Value"></ss-card-header>
    <ss-card-body>

        <div class="mb-3">
            <div id="CurrentCoverImageArea">
                @if (Model.ViewModel.CoverImageMediaId != null)
                {
                    <img height="120" src="/api/cms-kit/media/@Model.ViewModel.CoverImageMediaId"/>
                    <br/>
                    <ss-button button-type="Link" type="button" text="@L["RemoveCoverImage"].Value" id="button-remove-cover-image"/>
                    <br/>
                }
            </div>
            <label class="form-label">@L["CoverImage"]</label>
            <input type="file" id="BlogPostCoverImage" class="form-control"/>
        </div>

        <form asp-page="/CmsKit/BlogPosts/Update" id="form-blog-post-update">
            <ss-input asp-for="Id" />
            <ss-input asp-for="ViewModel.ConcurrencyStamp"  type="hidden" />
            <ss-input asp-for="ViewModel.CoverImageMediaId" type="hidden" />
            
            <ss-input asp-for="ViewModel.Title" />

            <ss-input asp-for="ViewModel.Slug" />

            <ss-input asp-for="ViewModel.ShortDescription" />

            <ss-input asp-for="ViewModel.Content" type="hidden" />

            <div class="content-editor cms-kit-editor"
                 id="ContentEditor"
                 data-input-id="@Html.IdFor(x => x.ViewModel.Content)"
                 data-language="@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)">
            </div>

            @foreach (var propertyInfo in ObjectExtensionManager.Instance.GetProperties<UpdateModel.UpdateBlogPostViewModel>())
            {
                if (!propertyInfo.Name.EndsWith("_Text"))
                {
                    if (propertyInfo.Type.IsEnum || !propertyInfo.Lookup.Url.IsNullOrEmpty())
                    {
                        if (propertyInfo.Type.IsEnum)
                        {
                            Model.ViewModel.ExtraProperties.ToEnum(propertyInfo.Name, propertyInfo.Type);
                        }
                        <ss-select asp-for="ViewModel.ExtraProperties[propertyInfo.Name]"
                                    label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                    autocomplete-api-url="@propertyInfo.Lookup.Url"
                                    autocomplete-selected-item-name="@Model.ViewModel.GetProperty(propertyInfo.Name+"_Text")"
                                    autocomplete-selected-item-value="@Model.ViewModel.GetProperty(propertyInfo.Name)"
                                    autocomplete-filter-param-name="@propertyInfo.Lookup.FilterParamName"
                                    autocomplete-items-property-name="@propertyInfo.Lookup.ResultListPropertyName"
                                    autocomplete-display-property-name="@propertyInfo.Lookup.DisplayPropertyName"
                                    autocomplete-value-property-name="@propertyInfo.Lookup.ValuePropertyName"></ss-select>
                    }
                    else
                    {
                        <ss-input type="@propertyInfo.GetInputType()"
                                   asp-for="ViewModel.ExtraProperties[propertyInfo.Name]"
                                   label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                   asp-format="@propertyInfo.GetInputFormatOrNull()"
                                   value="@propertyInfo.GetInputValueOrNull(Model.ViewModel.GetProperty(propertyInfo.Name))" />
                    }
                }
            }
            
        </form>

        @if (Model.TagsFeature?.IsEnabled == true)
        {
            <hr />

            @await Component.InvokeAsync(typeof(TagEditorViewComponent), new
            {
                entityType = BlogPostConsts.EntityType,
                entityId = Model.Id.ToString(),
                displaySubmitButton = false
            })
        }
    </ss-card-body>
    <ss-card-footer>
        <ss-button button-type="Primary" type="submit" text="@L["Submit"].Value" id="button-blog-post-update" />
    </ss-card-footer>
</ss-card>
<input hidden id="GeneratedWidgetText" />